body {
	margin: 0;
	padding: 0;
	background-image: url('images/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	font-size: 20px;
}
#container {
	padding: 20px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3,auto);
	grid-gap: 30px;
}
.item{
	padding: 30px;
	margin-top: 5vh;
	background-color: #c4c4c4;
	border-radius: 10px;
	border: solid 2px white;
}
.innercontainer{
	margin: auto;
	padding-bottom: 20px;
	border-radius: 10px;
	border: solid 2px white;
	text-align: center;
	background-color: #585858;
}
#midden1{
	margin-top: 30px;
	margin-bottom: 30px;
}
#midden2{
	margin-top: 30px;
	margin-bottom: 30px;
}
#midden3{
	margin-top: 30px;
	margin-bottom: 30px;
}
mark{
	padding: 3px;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.7);
	color: white;	
}
h2{
	font-size: 25px;
}
.stad {
	margin: auto;
	height: 150px;
	border-radius: 10px;
	border: solid 2px white;
	text-align: center;
}
#amsterdam{
	background-image: url(images/amsterdam.jpg);
	background-size: cover;
}
#lasvegas{
	background-image: url(images/las_vegas.jpg);
	background-size: cover;
}
#singapore{
	background-image: url(images/singapore.jpg);
	background-size: cover;
}
@media screen and (min-width: 1000px){
	body{
			background-size: stretch;
			font-size: 20px;
	}
	#container {
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 600px;
	grid-gap: 30px;
}
.item {
	padding: 30px;
}
	.innercontainer{
		width: 90%;
	}
.stad{
	width: 90%;
}	
}